[Unit]
Description=Check for Greek dance archive updates every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
Unit=greece-dance-update.service

[Install]
WantedBy=timers.target
